body {
  /* background-color: thistle; */
}

/* BANNER START */
#banner {
    /* padding-top: 30px; */
}

#banner-container {
  /* border-style: solid;
  border-width: 10px;
  border-color: black */
  /* border: black solid 10px; */
  /* margin-top: 30px;
  margin-right: 40px;
  margin-bottom: 50px;
  margin-left: 40px; */
  /* margin: 50px 40px 50px 40px; */
  /* margin: 50px 40px; */
  /* padding: 30px; */

}
/* BANNER END */


/* FUN FACTS START */

/* FUN FACTS END */


/* HORIZONTAL IMAGE START */
#horizontal-image {
}
/* HORIZONTAL IMAGE END */


/* VERTICAL IMAGE START */
#vertical-image {
}
/* VERTICAL IMAGE END */


/* GRID IMAGE START */

/* GRID IMAGE END */


/* CARD START */

/* CARD END */
