/* #navbar {
  background: green;
} */

body {
  background: yellow;
  margin: 0px;
}

#banner-container {
  background: green;
  text-align: center;
  border: groove 20px thistle;
  padding: 50px 0px;
  width: auto;
  /* margin: auto; */
  font-family: 'Inconsolata', monospace;
}

#title {
  border: 10px red solid;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,104,1) 35%, rgba(6,192,248,1) 70%, rgba(255,0,114,1) 100%);
  width: 50px;
}

#banner {
  width: 50px;

}

#outermost{
  background: black;
  width: 500px;
  height: 300px;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  position: absolute;
  right: 300px;
}

#outerless{
  background: red;
  width: 100px;
  height: 80%;
}

#this-one {
  display: flex;
}

#innerless{
  background: green;
  width: 100px;
  height: 100px;
}

#innerless ~ div {
  background: blue;
  width: 100px;
  height: 100px;
}
