#special {
  color: purple;
}

h1, h2, h5, p {
/* .whatever-you-want { */
  color: green;
  font-size: 32px;
  font-weight: bold;
  background-color: #2f8774d1;
  color: blue;
  border: blue 50px groove;
  padding: 20%;
}

h2 {
  color: white;
}
