body {
  font-family: 'PT Sans', sans-serif;
  background-color: #ffdc74;
  margin: 0;
}

/* NAVBAR START */
#navbar {
  /* position: fixed; */
  /* height: 50px; */
  display: flex;
  justify-content: space-between;
}

#icon {
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

#menu-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:60%;
  color: #aa2bc7;
}

#right-buttons {
  margin: auto 10px;
  font-style: oblique;
}
/* NAVBAR START */

#outermost {
  border: 10px solid black;
}

#outersome {
  border: 10px solid green;
  width: 50%;
}

#innersome {
  border: 10px solid red;
  width: 50%;
}

#innermost {
  border: 10px solid purple;
  width: 50%;
}

/* TITLE START */
#title {
  font-size: 20px;
  color: lemonchiffon;
  background-color: #00820b50;

  position: fixed;
  top: 180px;
  /* right: 30px; */
  left: 80%;

  border: outset 10px #f44336;
  padding: 4px;
}

#title:hover {
  /* top: 3px; */

  border: inset 10px #f44336;
}
/* TITLE START */

/* BANNER START */
#banner {
  color: #e8e8e8;
  text-align: center;
  /* border-color: chartreuse hotpink teal thistle;
  border-width: 4em 3em 2em 1em;
  border-style: groove solid dotted dashed; */
  /* as above... similar below */
  border: chartreuse 3em groove;
  border-radius: 1em;
  background-color: #ce00f4;
  width: 50%;
  margin: auto;
  padding: 30px;
}

#banner-container {
  padding: 3em;
  background-color: lightblue;
}
/* BANNER END */

/* FUN FACTS START */
#fun-facts-container h2 {
  text-align: center;
}

#fun-facts-container {
  background-color: lightpink;
  padding: 2em;
}

#fun-facts-content {
  width: 30%;
  margin: auto;
}
/* FUN FACTS START */

/* HORIZONTAL IMAGE START */
#horizontal-image {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;

  background-color: #ffff0080;
  padding: 2em;
}
/* HORIZONTAL IMAGE START */

/* VERTICAL IMAGE START */
#vertical-image {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #efd;
  padding: 2em;
}
/* VERTICAL IMAGE START */

/* GRID IMAGE START */
#grid-image img {
  /* border: 5px red solid; */
  width: 100%;
}

#grid-image {
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  justify-content: center;

  background-color: #8000805e;
  padding: 2em;
}
/* GRID IMAGE END */

/* CARD START */
#frameworks-container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
/* CARD END */
